.navbar-brand{
    background-color: #4aaaa5;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #ffffff;
}

.nav-link{
    color: black;
}

body {
    background: url("Assests/pexels-soulful-pizza-3715398.jpg");
    background-size: 2000px;
}